body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #ccc6bb;
  font-size: 16px;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

.yläpalkki_etusivu {
  background: url('Kuvat/ai-generated-8986912_1280.jpg') no-repeat center center/cover;
  padding: 50px;
  position: relative;
}

/* ei käytössä*/
yläpalkki_yhteystiedot {
  background: url('Kuvat/kartano_taide.png') no-repeat center center/cover;
  position: relative;
  width: 100%;
  height: 400px; /* Voit säätää korkeutta tarpeen mukaan */
  overflow: hidden;
}

.yläpalkki_historia {
  background: url('Kuvat/kartano.png') no-repeat center center/cover;
  position: relative;
  width: 100%;
  height: 400px; /* Voit säätää korkeutta tarpeen mukaan */
  overflow: hidden;
}

.yläpalkki_maatalous,
.yläpalkki_metsätalous,
.yläpalkki_yhteystiedot,
.yläpalkki_palvelumme,
.yläpalkki_siirtonurmi {
  position: relative;
  width: 100%;
  height: 400px; /* Voit säätää korkeutta tarpeen mukaan */
  overflow: hidden;
}

.yläpalkki_maatalous h1,
.yläpalkki_metsätalous h1,
.yläpalkki_historia h1,
.yläpalkki_yhteystiedot h1,
.yläpalkki_palvelumme h1,
.yläpalkki_siirtonurmi h1 {
  position: relative;
  z-index: 2;
  color: white; /* Voit säätää tekstin väriä tarpeen mukaan */
  text-align: center;
  line-height: 200px; /* Varmistaa, että teksti on keskitetty pystysuunnassa */
}

.background-video-maatalous,
.background-video-metsätalous
 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100 vh;
  object-fit: cover;
  object-position: center;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.vaakuna {
  justify-content: center;
  margin: 20px 0;
  width: 100px;
  height: 100px;
} /* Vaakunan värisävyt: #afab9f (harmaa), #836a3e (vaaleampi ruskea), #415263 (siniharmaa), #4d3016 (ruskea), #141116 (melkein musta) */

.historia_kuvat {
  display: flex;
  justify-content: center;
  gap: 25px; /* Lisää tilaa kuvien väliin */
  margin-top: 10px;
  flex-wrap: wrap;
}
.sali, .vanha_kartano {
  width: 350px;
  height: auto;
  padding: 0;
  border-radius: 8px;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 20px;
  background-color: #415263;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #afa69c;
  text-align: center;
  font-size: 14px;
  margin: 20px auto;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color:#9c937f;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.content h2 {
  text-align: center;
  color: #0f0f0f;
}

.content p {
  font-size: 14px;
  line-height: 1.6;
  color: #111111;
}

.content ul {
  list-style-type: none;
  padding: 0;
}

.content ul li {
  background: #e7e7e7;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
}

.content ul li strong {
  color: #2b2b2b;
}

.info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px; /* Lisää tilaa boxien väliin */
  margin: 20px 0;
}

.box {
  width: 200px; /* Voit säätää tämän koon tarpeen mukaan */
  text-align: center; /* Keskittää tekstin */
  background-color: #9c937f; /* Taustaväri laatikolle */
  border: 1px solid #ccc; /* Kehys laatikolle */
  border-radius: 10px; /* Pyöristää kulmat */
  padding: 10px; /* Tilaa laatikon sisällä */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Lisää varjo */
  display: flex; /* Käytämme Flexboxia */
  flex-direction: column; /* Järjestetään lapset pystysuoraan */
  justify-content: center; /* Työntää lapset reunoille */
  align-items: center;
  height: 250px;
}

.box:hover {
  transform: translateY(-10px); /* Nostaa laatikkoa hieman */
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2); /* Lisää syvempi varjo */
}

.box img {
  width: 200px; /* Kuvan leveys täyttää laatikon */
  height: 150px; /* Pitää kuvan mittasuhteet */
  object-fit: cover; /* Skaalaa kuvan täyttämään laatikon säilyttäen mittasuhteet */
  border-radius: 5px; /* Pyöristää kuvan kulmat */
  margin-bottom: 5px; /* Lisää väli kuvan ja tekstin väliin */
}

.box p {
  text-align: center;
  font-size: 16px;
  color: #333; /* Tummanharmaa väri tekstille */
  margin-top: auto;
  line-height: 1.0; /* Lisää riviväli, jotta teksti ei ole liian tiivistä */
}

figcaption {
  font-size: 12px;
  color: #333;
  margin-top: 5px;
}

.box a {
  text-decoration: none;
  color: inherit;
  display: block; /* Asetetaan linkki block-tasoiseksi */
  width: 90%; /* Asetetaan linkin leveys täyttämään laatikko */
  height: 90%; /* Asetetaan linkin korkeus täyttämään laatikko */
  
  
}

a {
  text-decoration: none; /* Poistaa alleviivauksen */
  color: inherit; /* Säilyttää tekstin alkuperäisen värin */
}

.alapalkki {
  background: #415263;
  color: rgb(14, 13, 13);
  padding: 10px;
  margin-top: 20px;
  text-align: center;
}

.contact-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px; /* Lisää tilaa korttien väliin */
  margin: 20px 0;
}

.contact-card {
  width: 250px; /* Voit säätää tämän koon tarpeen mukaan */
  text-align: center; /* Keskittää tekstin */
  background-color: #9c937f; /* Taustaväri kortille */
  border: 1px solid #ccc; /* Kehys kortille */
  border-radius: 10px; /* Pyöristää kulmat */
  padding: 20px; /* Tilaa kortin sisällä */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Lisää varjo */
}

.contact-card img {
  width: 100%; /* Kuvan leveys täyttää kortin */
  height: auto; /* Pitää kuvan mittasuhteet */
  border-radius: 50%; /* Pyöristää kuvan kulmat */
  margin-bottom: 10px; /* Lisää väli kuvan ja tekstin väliin */
}

.contact-card h2 {
  font-size: 20px;
  color: #333; /* Tummanharmaa väri tekstille */
  margin: 10px 0;
}

.contact-card p {
  font-size: 16px;
  color: #333; /* Tummanharmaa väri tekstille */
  margin: 5px 0;
}

.intro, .news {
  max-width: 100%;
  margin: 20px auto;
  padding: 20px;
  background-color: #e9e7e3;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.);
}

.map {
  max-width: 100%;
  margin: 20px auto;
  padding: 20px;
  background-color: #e9e7e3;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.intro h2, .news h2, .map h2 {
  text-align: center;
  color: #333;
}

.intro p, .news p, .map p {
  font-size: 18px;
  line-height: 1.6;
  color: #666;
}

.news ul {
  list-style-type: none;
  padding: 0;
}

.news ul li {
  background: #9c937f;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
}

.news ul li strong {
  color: #333;
}

.newsbody {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #807868;
}

.news-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* Lisää tilaa news-osioiden väliin */
  flex-wrap: wrap; /* Varmistaa, että osiot pinoutuvat pienemmillä näytöillä */
}

.news {
  flex: 1 1; /* Varmistaa, että molemmat laatikot ovat samankokoisia */
  min-height: 300px; /* Asettaa minimikorkeuden laatikoille */
  background-color: #e9e7e3;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.gallery {
  width: 100%;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.gallery-item {
  background-color: #e9e7e3;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/*Painikkeeet*/

.historia-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  
}

.historia-button {
  background-color: #415263;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s;
  border: 1px solid #ccc; /* Kehys laatikolle */
}

.historia-button:hover {
  background-color: #333;
}


.gallery-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.gallery-button {
  background-color: #415263;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s;
  border: 1px solid #ccc; /* Kehys laatikolle */
}

.gallery-button:hover {
  background-color: #333;
}

/* Media queries for responsiveness */

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }

  .box {
    flex: 1 1 100%; /* Yksi laatikko per rivi */
    max-width: 100%; /* Yksi laatikko per rivi */
  }

  .map iframe {
    height: 200px;
  }

  nav ul li {
    margin: 10px 0; /* Lisää tilaa elementtien väliin pystysuunnassa */
  }

  .contact-card {
    width: 100%; /* Yksi kortti per rivi */
  }

}



